.field__writing {
    display: flex;
    flex-direction: column;
    margin: 24px 0;
    gap: 8px;
}

.field__writing label {
    font-size: 20px;
}

.field__writing input {
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 20px;
    padding: 24px;
    box-sizing: border-box;
}

.field__color input {
    padding: 5px 24px;
}